<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<section class="min-h-screen flex justify-center items-center bg-[#f8f7f5]">

    <form
        action="/login"
        method="POST"
        class="bg-white p-10 shadow-xl w-[450px] rounded-lg">

        <h1 class="font-serif text-4xl mb-8 text-center">
            Login
        </h1>

        <input
            type="email"
            name="email"
            placeholder="Email"
            class="w-full border p-4 mb-5 rounded"
            required>

        <input
            type="password"
            name="password"
            placeholder="Password"
            class="w-full border p-4 mb-5 rounded"
            required>

        <button
            type="submit"
            class="w-full bg-black text-white py-4 rounded hover:bg-[#c9a15f] hover:text-black transition">

            Login

        </button>

        <p class="mt-6 text-center">
            Don't have an account?

            <a href="/signup" class="text-[#c9a15f]">
                Signup
            </a>
        </p>

    </form>

</section>