<% if (!user) { %>

    <div class="flex gap-3">

        <a href="/login" class="flex-1 text-center border py-3">

            Login

        </a>

        <a href="/signup" class="flex-1 text-center bg-[#c9a15f] py-3">

            Signup

        </a>

    </div>

    <% } else { %>

        <p class="text-center">

            Welcome,

            <%= user.name %>

        </p>

        <%- include("dashboard-link") %>

            <a href="/logout" class="block text-center bg-red-500 text-white py-3">

                Logout

            </a>

            <% } %>