<section class="py-28 bg-white">

<div class="max-w-7xl mx-auto px-6">

    <p class="uppercase tracking-[4px] text-[#c9a15f] text-sm mb-4">
        Curriculum
    </p>

    <h2 class="font-serif text-4xl md:text-5xl mb-20">
        What We Teach
    </h2>

    <div class="space-y-4">

        <div class="subject-row">
            <span>01</span>
            <h3>Mathematics</h3>
            <p>6th-12th</p>
        </div>

        <div class="subject-row">
            <span>02</span>
            <h3>Physics</h3>
            <p>9th–12th</p>
        </div>

        <div class="subject-row">
            <span>03</span>
            <h3>Chemistry</h3>
            <p>9th–12th</p>
        </div>

        <div class="subject-row">
            <span>04</span>
            <h3>Biology</h3>
            <p>9th–12th</p>
        </div>

        <div class="subject-row">
            <span>05</span>
            <h3>English</h3>
            <p>6th-12th</p>
        </div>

    </div>

</div>


</section>
